/* Media Query for Medium Devices & Down */
@media (max-width: 991.98px){
  #navbar-ul { 
      /* Navbar links get pushed to the right so they display beneath the navbar-toggler icon (hamburger icon)  */
      align-items: end;
      padding-right: 0.4rem;
    }

  #intro-section {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  }

  #profile-pic {
      width: 50%;
  }
  
  .intro-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      gap: 0.5em;
  }

  .tab-element-container {
      padding-bottom: 0.5rem;
  }

  .tab-pane {
      padding-top: 0;
  }

  #skills-frameworks-container {
      width: 70%;
      gap: 0.5rem;
  }

  .section-container {
      width: 70%;
    }

  
}

/* Media Query for Small Devices & Down */
@media (max-width: 767.98px){
  #profile-pic {
      width: 60%;
  }

  #skills-frameworks-container {
      width: 80%;
      gap: 0.5rem;
  }

  .section-container {
      width: 80%;
    }

    .horizontal-line {
      width: 90%;
    }

    .nav-links-2 {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

}

/* Media Query for Extra Small Devices */
@media (max-width: 575.98px){

  /* Control the spacing between all sections */
#intro-section, #skills-section, #projects-section {
  /* padding-top: 4rem; */
  padding-bottom: 4rem;
}

#contact-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

  .socials-container {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  }

  #skills-frameworks-container {
      width: 90%;

  }

  /* Change all icons in the skills & frameworks section to a smaller size */
  .skills-icon-group, .images-js-frameworks-container, .images-programming-languages-container,
  .images-vc-container {
      width: 4rem;
      height: 4rem;

  }

  .section-container {
      width: 90%;
    }

  #live-demo-link {
      margin-right: 0.5rem;
  }
}

/* Media Query Targeting iPhones - specifically width less than 400px */
@media (max-width: 411.98px){

  .individual-education-container h5 {
      font-size: 1.1em;
    }
}